.wrapper {
    max-width: 900px;
}

.notes__list {
    padding: 0;
    margin: 0;
}

.notes__i {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-preview__text {
    margin: 0;
}

.note-preview__time {
    font-size: 12px;
    color: #4f4f4f;
}

.form-group button {
    margin-right: 4px;
}

.note-preview {
    margin-bottom: 20px;
}

.note-preview__controls {
    float: left;
    margin-top: 4px;
    margin-right: 6px;
}

.note-preview__controls .glyphicon {
    cursor: pointer;
}

.note-preview__controls .glyphicon:hover {
    text-decoration: none;
}

.note-preview__content {
    overflow: hidden;
}

.note-preview .glyphicon:hover {
    color: #e74c3c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.nav .badge {
    position: relative;
    top: -3px;
    left: 2px;
}