.wrapper {
    max-width: 900px;
}

.notes__list {
    padding: 0;
    margin: 0;
}

.notes__i {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-preview__text {
    margin: 0;
}

.note-preview__time {
    font-size: 12px;
    color: #4f4f4f;
}

.form-group button {
    margin-right: 4px;
}

.note-preview {
    position: relative;
    margin-bottom: 20px;
}

.note-preview .glyphicon-remove-sign {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
}

.note-preview .glyphicon-pencil {
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 31px;
    cursor: pointer;
}

.note-preview .glyphicon-pencil:hover {
    text-decoration: none;
}

.note-preview__content {
    overflow: hidden;
}

.note-preview .glyphicon:hover {
    color: #e74c3c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.nav .badge {
    position: relative;
    top: -3px;
    left: 2px;
}

.content-wrapper:after {
    display: table;
    content: "";
    clear: both;
}

.footer-inner {
    margin-top: 20px;
}