.wrapper {
    max-width: 900px;
}

.notes__list {
    padding: 0;
    margin: 0;
}

.notes__i {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-preview__text {
    margin: 10px 0 0;
}

.note-preview__time {
    font-size: 12px;
    color: #4f4f4f;
}

.form-group button {
    margin-left: 4px;
}

.form-group button:first-child {
    margin-left: 0;
}

.note-preview .glyphicon {
    float: left;
    margin-top: 5px;
    margin-right: 6px;
    cursor: pointer;
}

.note-preview .glyphicon:hover {
    color: #e74c3c;
}