<div class="well note-preview">
    <span
            class="note-preview__remove glyphicon glyphicon-remove-sign"
            title="Удалить заметку"
            aria-hidden="true"
            ng-click="notesStorage.removeNote(note.id)"
            ></span>
    <div class="note-preview__content">
        <strong>{{note.title || 'Заметка #' + note.id}}</strong>
        <p class="note-preview__text">
            {{note.text}}
        </p>
        <small class="text-info" nk-timeago="{{note.createdOn}}">{{note.createdOn | relativeTime}}</small>
    </div>
</div>