<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                Notes Keeper v.0.1 alpha
            </span>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="getClass('/view1')">
                <a href="#/view1">
                    Добавить заметку
                </a>
            </li>
            <li ng-class="getClass('/view2')">
                <a href="#/view2">
                    Все заметки
                </a>
            </li>
        </ul>
    </div>
</nav>