<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                Notes Keeper v.0.1 alpha
            </span>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="getClass('/add-post')">
                <a href="#/add-post">
                    Добавить заметку
                </a>
            </li>
            <li ng-class="getClass('/posts-list')">
                <a href="#/posts-list">
                    Все заметки&nbsp;<span class="badge">{{notesStorage.getNotesAmount()}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>